<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!--<link rel="stylesheet" href="/assets/css/custom.css">-->
    <title>Letzz Play</title>
</head>
<style>
    .table-wrapper {
        margin-top: 30px;
		margin-right:20px;
		margin-left:20px;
    }
	
	body{
	background-image:url('back.jpg');
	}

    .player-img {
	opacity:0.2;
        width: 40px;
        height: 40px;
    }
	form{
		display:inline;
	}

    .add-player-form {
        margin-top: 50px;
    }
</style>
<body>
<div class="page-wrapper">
    
        <img src="f.png" width="70" style="margin-left:20px;">&nbsp;&nbsp;&nbsp;<a href="/"><font size="7">Soccers</font></a>
        <a class="float-right" href="/add" title="Add a New Player" style="margin-right:20px;margin-top:20px;">Add a Player</a>
	
    